<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href = "//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/cerulean/bootstrap.min.css" >
        <title>OCVapp</title>
    </head>

    <body>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OCVapp</a>
            </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="">Home</a></li>
                    {% if not user.is_authenticated %}
                    <li><a class="navbar-brand" href="/register/">Register</a></li>
                    <li class="active"><a class="navbar-brand" href="/login/">Log in</a></li>
                    {% endif %}
                </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="#">{{ user.username }}</a></li>

                        <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
<div class  ="jumbotron col-lg-offset-1 col-lg-10">
    <div class = "col-lg-6 col-lg-offset-3" >        
        <form class="form-horizontal" id="login_form" method="post" action="">
            <fieldset>
            {% csrf_token %}
            <legend>Log in</legend>
            <div class="form-group col-lg-12">
            Username: <input type="text" name="username" value="" size="50" />
            
            Password:  &nbsp;<input type="password" name="password" value="" size="50" />
            </div>

            <input type="submit" value="submit" class="btn btn-primary btn-lg-2"/>
            </fieldset>
        </form>
    </div>
</div>
    </body>
</html>